*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.app {
  padding: 1rem;
}

.header-view {
  display: flex;
  justify-content: space-evenly;
}

.store-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-entry {
  width: 90vw;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
}

.row-item {
  border: 0.5px solid black;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-image {
  object-fit: cover;
  width: 40vw;
}

.add-cart-view {
  flex-direction: column;
}

.cart-view {
  position: absolute;
  border: 1px solid black;
  top: 4rem;
  left: 4rem;
  right: 4rem;
  min-height: 100%;
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.error-msg-init {
  opacity: 0;
  cursor: default;
}

.fade-in {
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.cart-item {
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 20vh;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-img {
  align-self: center;
  width: 7.5vw;
  height: 7.5vw;
  object-fit: cover;
  box-shadow: 0 0 3px black;
}

.quantity-editor {
  display: flex;
  flex-direction: column;
}
