*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.header-view {
  display: flex;
  justify-content: space-evenly;
}

.store-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-entry {
  width: 90vw;
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr);
}

.grid-image {
  object-fit: cover;
  width: 35vw;
}

.row-item {
  border: 1px solid black;
  padding: 1rem;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-cart-view {
  flex-direction: column;
}
